.time {
    max-width:100px;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resultsCard {
    font-size:1rem;
    background-color:#fce29a;
    margin:auto;
    max-width:600px;
    border-radius:20px;
}

.resultsCard p {
    color:red;
    margin-left:10px;
    
}

.resultsCard h3 {
    color: #f211d4;
    text-align:center;
    margin:2rem auto;
    
}

.result {
    padding-bottom:30px;
}

.stcalc {
    max-width:600px;
    margin:auto;
    text-align:center;
    border: solid 1px red;
    border-radius:20px;
    background-color:#59f7f2;
    padding:10px;
    font-size: 1rem;
}

.calcbutton {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calcbutton:hover {
  background-color: #0066cc;
}