.time {
    max-width:100px;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.resultsCard {
    font-size:1rem;
    margin:1rem; auto;
    padding: 1rem;
    border-radius: 16px;
    border: 1px solid #ccc;
    background-color: #fefefe;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.resultsCard p {
    color:black;
    text-align:left;
    padding:0;
    margin:0.25rem;
}

.resultsCard h3 {
    color: #004080;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.results {
    padding-bottom:30px;
}

.stcalc {
    max-width:90%;
    margin:auto;
    text-align:center;
    border: solid 1px red;
    border-radius:20px;
    background-color:#59f7f2;
    padding:10px;
    font-size: 1rem;
}

.stcalc input,
textarea,
select {
  font-size: max(16px, 1em);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom:0.25rem;
  margin-top:0.25rem;
}

.stcalc input:focus,
 select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}


.calcbutton {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calcbutton:hover {
  background-color: #0066cc;
}

@media screen and (max-width: 480px) {
    .stcalc input, .stcalc label {
        display: block;
        width: 50%;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .time {
        max-width: 100%;
    }
}


